body {
  background: rgb(166,177,196);
  background: linear-gradient(90deg, rgba(166,177,196,1) 0%, rgba(171,171,171,1) 100%);
}

@import url('https://fonts.googleapis.com/css?family=Jost|Quicksand&display=swap');
/* font-family: 'Quicksand', sans-serif;
font-family: 'Jost', sans-serif; */

.App {
  text-align: center;
  color: rgb(15, 22, 51);
  font-family: 'Quicksand', sans-serif;
}

.home {
  font-size: 5rem;
  font-family: 'Quicksand', sans-serif;
}

.home-foot {
  font-size: 2rem;
  font-family: 'Jost', sans-serif;
}

.about {
  font-size: 3rem;
  padding: 3rem;
}

.join {
  color: rgb(121, 121, 121);
  text-decoration: none;
}

.footer {
  font-size: 1rem;
}

.link {
  color: rgb(121, 121, 121);
  text-decoration: none;
  font-size: 2rem;
}